<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="@asset(css,bootstrap.min.css)">
	<link rel="stylesheet" type="text/css" href="@asset(css,font-awesome.min.css)">
	<script type="text/javascript" src="@asset(js,bootstrap.min.js)"></script>
	<title>@title</title>
	<style>
		.form-body{ max-width: 450px; width: 100%; margin: 0 auto; padding: 0 20px; margin-top: 20px; }
		.input-group{ margin: 10px 0; }
		h4{ text-align: center; padding: 20px 0; }
	</style>
</head>
<body>
	<div class="form-center">
		@view	
	</div>
</body>
</html>